<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <DBServer>
    <DbType>SQL2008</DbType>
    <Server>ADMIN-PC\SQLEXPRESS</Server>
    <ConnectStr>User Id=sa;Password=123456;Database=SambaPOS5;Server=ADMIN-PC\SQLEXPRESS</ConnectStr>
    <DbName>SambaPOS5</DbName>
    <ConnectSimple>True</ConnectSimple>
    <TabLoadtype>0</TabLoadtype>
    <ProcPrefix />
    <ProjectName />
    <Namepace>Maticsoft</Namepace>
    <Folder />
    <AppFrame>s3</AppFrame>
    <DALType />
    <BLLType />
    <WebType />
    <EditFont>新宋体</EditFont>
    <EditFontSize>9</EditFontSize>
    <DbHelperName>DbHelperSQL</DbHelperName>
    <ModelPrefix />
    <ModelSuffix />
    <BLLPrefix />
    <BLLSuffix />
    <DALPrefix />
    <DALSuffix />
    <TabNameRule>same</TabNameRule>
    <WebTemplatePath />
    <ReplacedOldStr />
    <ReplacedNewStr />
  </DBServer>
  <DBServer>
    <DbType>SQL2012</DbType>
    <Server>10.1.9.118</Server>
    <ConnectStr>User Id=sa;Password=mindray@2017!;Database=EAWP_HR;Server=10.1.9.118</ConnectStr>
    <DbName>EAWP_HR</DbName>
    <ConnectSimple>True</ConnectSimple>
    <TabLoadtype>1</TabLoadtype>
    <ProcPrefix />
    <ProjectName />
    <Namepace>Maticsoft</Namepace>
    <Folder />
    <AppFrame>s3</AppFrame>
    <DALType />
    <BLLType />
    <WebType />
    <EditFont>新宋体</EditFont>
    <EditFontSize>9</EditFontSize>
    <DbHelperName>DbHelperSQL</DbHelperName>
    <ModelPrefix />
    <ModelSuffix />
    <BLLPrefix />
    <BLLSuffix />
    <DALPrefix />
    <DALSuffix />
    <TabNameRule>same</TabNameRule>
    <WebTemplatePath />
    <ReplacedOldStr />
    <ReplacedNewStr />
    <TabLoadKeyword>hrc_</TabLoadKeyword>
  </DBServer>
</NewDataSet>